*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Main CNTR */
.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #E8E8E8;
    min-height: 100vh;
}

.intro {
    background-color: #564256;
    padding: 1rem;
    border-radius: 1.5rem;
}

/* Main Header for 1st CNTR */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #96939B;
}

#superhero-input {
    margin: 0.25rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    transition: all 500ms ease-in-out;
}

#superhero-input:hover {
    background-color: #FC814A;
    color: black;
}

button {
    margin: 0.25rem;
    height: 2.1rem;
    padding: 0.5rem;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #564256;
    color: white;
}

/* Image */
img {
    margin: 0.5rem;
}

.superhero-info {
    margin: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #FC814A;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    color: black;
}

h2 {
    color: #564256;
}

/* Media queries */
@media only screen and (min-width: 375px) and (max-width: 1000px) {
    .container {
        font-size: smaller;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        min-height: 100vh;
        color: white;
        margin: 0.5rem;
    }
}